<div class="user-playlists">
    <div class="popup-title">
        <span class="title">Playlists</span>
    </div>

    <div class="login-suggestion" ng-show="!uid">
        <span class="text">To save playlists, you need to login</span>
        <google-signin></google-signin>
        <span class="text small">Once you login, you'll be able to save playlists and access them
            from anywhere!</span>
    </div>

    <ul class="playlists"
            ng-show="!!uid"
            data-empty="{{playlists.length === 0}}">
        <li ng-repeat="playlist in playlists track by $index" class="playlist"
                data-id="{{playlist.playlist}}"
                ng-class="{
                    'edit-mode': editMode,
                    selected: currentPlaylist == playlist.playlist
                }">
            <span class="text"
                ng-show="!editMode"
                ng-click="selectEntry(playlist.playlist)"
                >{{playlist.name || "New Playlist"}}</span>
            <input class="text editor"
                placeholder="New Playlist"
                ng-show="editMode"
                ng-model="playlist.name"
                ng-change="playlists.$save(playlist)" />
            <span class="edit action" ng-click="toggleEditMode()"></span>
            <span class="remove action" ng-click="removeEntry($index)"></span>
        </li>
    </ul>
</div>
