<div class="user-playlists">
    <div class="header">
        <span class="title">Playlists</span>
    </div>
    <ul class="playlists">
        <li ng-repeat="playlist in playlists track by $index" class="playlist"
                data-id="{{playlist.playlist}}"
                ng-class="{
                    'edit-mode': editMode,
                    selected: currentPlaylist == playlist.playlist
                }">
            <span class="text"
                ng-click="selectEntry(playlist.playlist)"
                >{{playlist.name || "New Playlist"}}</span>
            <span class="edit action" ng-click="toggleEditMode()"></span>
            <span class="remove action" ng-click="removeEntry($index)"></span>
        </li>
    </ul>
</div>
