@import "../../vars/all";


.mixin-playlist-pane () {
    background:@theme-background;
    border-right:solid 1px fadeout(@base02, 50%);
    .flexbox(@dir:column);
    .no-scrollbar;

    @media (max-width:960px), (max-device-width:960px) {
        box-shadow:none;
        border-right:none;
    }

    .list-item() {
        padding:@row-pad @column-pad;
        font-size:@large-text;
        height:(@row);
        color:@white;
    }

    .playlist-progress {
        width:100%;
        height:@row;
        background:transparent;
        color:@white;
        font-size:@large-text;
        .flexed(0);
        .flexbox(@align:center);
        .ui-hseparator;

        .time, .progress {
            padding:0 @column-pad;
        }

        .time {
            .flexed(0);
        }

        .progress {
            .flexed(1);
        }
    }

    @indices-width:@column / 3;

    .playlist-actions {
        .flexed(0);
        .flexbox(@justify:flex-start;@align:stretch);
        .ui-hseparator;
        height:@row;
        padding:@row-pad 0;
        font-size:@large-text;
        color:@white;

        &> .action {
            .flexed(0);
            .flexbox(@align:center);
            cursor:pointer;

            &:before {
                .icon(@fa-var-times);
                width:@indices-width;
                padding:0 @column-pad;
                font-size:@huge-text;
                text-align:right;
            }
        }
    }

    .playlist-wrapper {
        overflow-y:auto;
        overflow-x:hidden;
        z-index:1;
        .flexed(1);
        .flexbox(@justify:flex-end);
        .no-scrollbar;
    }

    .indices {
        width:@indices-width;
        list-style:none;
        user-select:none;
        .flexed(0);

        .index {
            text-align:center;
            font-weight:bold;
            margin-bottom:0;
            .list-item;
            .flexbox(@align:center);
            .transition(@prop:margin-bottom; @easing:ease-in; @duration:.2s);

            &.actions-open {
                margin-bottom:@row;
                /*transition-timing-function:ease-in;*/
            }

            &.active {
                border-left:solid (@column-pad * 3 / 4) @cyan;
                padding-left:(@column-pad / 4);
            }
        }
    }

    .playlist {
        .flexed(1);
    }

    .playlist-item {
        overflow:hidden;
        cursor:pointer;
        .ui-list-item;
        .list-item;
        .flexbox(@dir:column;@justify:flex-start;);
        .transition(@prop:height; @easing:ease-in; @duration:.2s);

        &.actions-open {
            height:(2 * @row);
            /*transition-timing-function:ease-in;*/
        }

        &.ui-sortable-helper {
            background:fadeout(@white,75%);
        }

        .bar {
            height:(@row - 2 * @row-pad);
            .flexed(0);
            .flexbox(@justify:flex-start; @align:center);
        }

        .actions-bar {
            background:fadeout(@white,90%);
            border-radius:@medium-border;
            margin-top:(@row-pad);
            font-size:@large-text;
            .flexbox(@justify:flex-start);

            .action {
                padding:@row-pad @column-pad;
                margin:@row-pad @column-pad;
                /*background:linear-gradient(fadeout(@white,50%),*/
                            /*fadeout(@white,75%));*/
                background:fadeout(@white,50%);
                border-radius:@medium-border;
                .flexed(0);
                .flexbox(@align:center);

                .text {
                    .flexbox(@align:center);
                }
                .text:before {
                    padding-right:@column-pad;
                    color:darken(desaturate(@white,100%), 25%);
                    font-size:.75em;
                    .text-outline(fadeout(@white,50%));
                    .icon(@fa-var-circle);
                }

                &.active {
                    background:fadeout(@white,50%);
                    .text:before{
                        color:@green;
                    }
                }
            }
        }

        .action(@icon) {
            user-select:none;
            padding:0 @column-pad;
            font-size:(1 * @huge-text);
            .flexed(0);

            @media (max-device-width:960px) {
                font-size:(1.5 * @huge-text);
            }

            &:before {
                .icon(@icon);
            }
        }

        .title {
            overflow:hidden;
            height:100%;
            white-space:nowrap;
            text-overflow:ellipsis;
            padding-left:@column-pad;
            font-size:@large-text;
            .flexed(1);
            .flexbox(@dir:column);
        }

        .remover {
            .action(@fa-var-times);
            @media (max-device-width:960px) {
                display:none;
            }
        }
        .mover {
            .action(@fa-var-arrows);
            @media (max-device-width:960px) {
                order:1;
            }
        }
        .flags {
            margin:0 @column-pad;
            .flexed(0);
            .flexbox;
        }

        .time {
            .flexed(0);
            @media (max-device-width:960px) {
                display:none;
            }
        }

        .flag {
            font-size:(@normal-text);
            border:solid (0.5 * @medium-border) @white;
            border-radius:50%;
            width:(0.25 * @column);
            height:(0.25 * @column);
            margin-left:@column-pad;
            .flexed(0);
            .flexbox(@align:center);
        }
        .play-next:before {
            .icon(@fa-var-play);
        }
        .stop-here:before {
            .icon(@fa-var-stop);
        }
        .repeat:before {
            .icon(@fa-var-repeat);
        }
        .toggler {
            color:@green;
            .action(@fa-var-play);
            @media (max-device-width:960px) {
                padding-left:0;
                padding-right:0;
                /*order:1;*/
            }
        }
        &.loading .toggler {
            color:@base00;
            .spinner;

            &:before {
                .icon(@fa-var-spinner);
            }
        }
        &.active.now-playing .toggler {
            color:@red;
            &:before {
                .icon(@fa-var-pause);
            }
        }
        &.now-playing .title {
            color:#fff;
                text-shadow:0px 0px @thick-border @red; 
        }
        &.active.now-playing .title {
            animation:glow-red 2s infinite ease-out;
        }

        &:before {
            content:""; 
            position:absolute;
            top:0;
            right:0;
            width:(@thick-border * 3);
            height:100%;
            background:@blue;
            .transition;
        }

        &:not(.playing-now):before {
            height:0;
        }
    }

    &.slide-to-bottom :not(.active):before,
    &:not(.slide-to-bottom) .active:before {
        bottom:0;
        top:auto;
    }

    
}
