@import "../../vars/all";

.mixin-related-videos () {
    background:fadeout(@white, 75%);
    color:@white;
    .no-scrollbar;

    .list-item {
        height:(2 * @row);
        width:25%;
        float:left;
        display:inline-block;
        padding:@row-pad @column-pad;
        cursor:pointer;
        overflow:hidden;
        .transition(@prop:background-color;@duration:.1s);
        .flexbox(@justify:flex-start;@align:center;);

        &:hover {
            background-color:fadeout(@red,75%);
        }

        .thumbnail {
            width:@column;
            .flexed(0);
            .flexbox;

            @media only screen and (max-device-width: 1280px) {
                width:auto;
            }

            img {
                border:solid @thin-border @base01;
            }
        }

        .meta {
            height:100%;
            padding:0 @column-pad;
            .flexed(1);
            .flexbox(@justify:space-between;@align:center;@wrap:wrap);

            .title {
                width:100%;
                font-size:@large-text;
                .flexed(0);
            }
        }
    }
}
