@import "../../vars/all";

.mixin-topbar () {
    /*.flexbox(@justify:space-between;@wrap:wrap);*/
    .flexbox(@dir:column);
    @bg:@theme-topbar-background;
    /*background:@bg;*/
    color:@theme-topbar-color;
    /*border-bottom:solid @thin-border @theme-topbar-border-color;*/
    /*padding:@row-pad 0;*/
    /*font-size:@large-text;*/
    /*z-index:1000;*/
    box-sizing:content-box;
    flex:0 0 auto;

    @media (max-width:960px), (max-device-width:960px) {
    }

    .now-playing {
        .flexed(0);
        .flexbox;
        height:@row;

        @media (orientation: portrait) and (max-width: 960px),
                (orientation: portrait) and (max-device-width: 960px) {
            width:100%;
        }
    }

    .now-playing .thumbnail {
        .flexed(0);
        .flexbox(@align:center); // just for now
        width:(@column / 2);
        margin-left:@column-pad;

        .image {
            max-width:100%;
            max-height:100%;
            // just for now:
            .flexed(1);
            background:#fff;
        }
    }

    .now-playing .title {
        padding-left:@column-pad;
        .flexed(1);
        .flexbox(@dir:column);

        .text {
            text-overflow:ellipsis;
            overflow:hidden;
        }
    }

    .player-controls {
        .flexbox(@align:center);
        flex:0 0 auto;
    }

    .media-controls {
        .flexed(0);
        .flexbox;
        .no_selection;
        margin-left:@column-pad;

        @media (max-device-width: 960px),(max-width: 960px) {
            .flexed(0);
            display:flex;
        }
        @media (max-device-width: 960px) {
            order:2;
        }

        &.buffering .control[data-value="play-toggle"]:after {
            margin-left:0;
            .spinner;
            .icon(@fa-var-spinner);
        }

        .control {
            .ui-topbar-button;
            .flexed(0);
            .flexbox(@dir:column);

            &[data-value="play-prev"] {
                &:after {
                    .icon(@fa-var-step-backward);
                }
            }
            &[data-value="play-toggle"] {
                &:after {
                    .icon(@fa-var-play);
                }
            }
            &[data-value="play-next"] {
                &:after {
                    .icon(@fa-var-step-forward);
                }
            }
        }
    }

    .media-controls.active {
        [data-value="play-toggle"]:after {
            .icon(@fa-var-pause);
            margin-left:0;
        }
    }

    .volume-slider {
        .flexed(1);
        .flexbox(@align:center);
        .no_selection;

        @media (max-device-width: 960px),(max-width: 960px) {
            .flexed(1);
            display:flex;
        }
        @media (max-device-width: 960px) {
            order:1;
            padding:0 @column-pad;
        }

        .toggle-mute {
            .ui-topbar-button;
            .flexed(0);
            .flexbox(@align:center);

            &:before {
                .icon(@fa-var-volume-up);
            }

            &.muted:before {
                opacity:.5;
                .icon(@fa-var-volume-off);
            }

            @media (max-device-width: 960px) {
                margin:0;
            }
        }

        .toggle-mute.muted + .slider {
            opacity:.5;
        }

        .slider {
            .ui-slider(@color:@cyan;@thumb:@base00);
            .flexed(1);
            height:@row-pad;
            margin:0 @column-pad;

            .thumb {
                position:absolute;
                left:0;
                top:0;
                bottom:0;
                margin:auto;
                width:50%;
                height:100%;
                box-sizing:content-box;
            }
        }
    }
}
