@import '../../../css/vars/all';

.toast-notification {
    .flexed(0);
    .flexbox(@align:center);
    padding:0 @column-pad;
    text-align:center;
    overflow:hidden;

    .thumb {
        .flexed(0);
        width:(@column);
        border:solid @thin-border @inactive-text-dark;
        /*box-shadow:@thin-border @thin-border @thick-border fadeout(@black, 25%);*/
        margin-right:@column-pad;
    }

    .text {
        .flexed(1);
        font-size:@huge-text;
        margin:0 @column-pad;
    }

    .close {
        .flexed(0);
        .transition(@prop:color);
        font-size:2 * @huge-text;
        color:@inactive-text-dark;
        text-shadow:@thin-border @thin-border @medium-border fadeout(@white, 75%);
        cursor:pointer;

        &:hover {
            color:@active-text-dark;
            text-shadow:none;
        }

        &:before {
            .icon(@fa-var-times);
        }
    }
}

