@import '../../../css/vars/all';

.toast-notification {
    .flexed(0);
    .flexbox(@align:center);
    color:@white;
    padding:@row-pad @column-pad;
    text-align:center;
    overflow:hidden;
    position:absolute;
    bottom:0;
    left:0; right:0;
    margin:auto;
    background:fadeout(@black, 10%);
    z-index:10;
    width:50vh;
    transition:transform .25s ease-out;

    &:not(.active) {
        transform:translateY(100%);
    }

    .thumb {
        .flexed(0);
        width:(@column);
        border:solid @thin-border @inactive-text-dark;
        margin-right:@column-pad;
    }

    .text {
        .flexed(1);
        margin:0 @column-pad;
    }

    .close {
        .flexed(0);
        font-size:@large-text;
        cursor:pointer;

        &:before {
            .icon(@fa-var-times);
        }
    }
}

