<section class="media-panel" ng-class="{ cued: isCued }">
    <sol-tabs selected="1">
        <div tab-id="video" tab-title="Video" class="media tab">
            <media-player id="media-player"></media-player>
        </div>

        <playlist-related tab-id="related" tab-title="Related" class="tab"></playlist-related>
    </sol-tabs>

    <h1>Server ID: {{peerId}}</h1>
    <h1>Remote ID: <input ng-model="remotePeer" /></h1>
    <h1 ng-click="connect()">Connect</h1>
    <h1 ng-click="disconnect()">Disconnect</h1>
</section>
