@import '../../../css/vars/all';

.sol-input {
    .flexbox;
    /*box-shadow:2px 3px 4px fadeout(@black, 75%);*/

    &> .icon {
        .flexed(0);
        .flexbox(@align:center);
        background:@white;
        padding:0 @column-pad;

        &.fa-remove {
            cursor:pointer;
        }
    }

    &> .input {
        .flexed(1);
        .no_appearance;
        background:@white;
        padding-left:@column-pad;
        border:none;
    }

}
