<li ng-class="{'now-playing': nowPlaying, 'active': isActive, 'loading':
                isBuffering, 'actions-open': displayActions}">

    <div class="bar">
        <span class="toggler" ng-click="togglePlay()"></span>
        <span class="title" data-index="{{index}}" ng-click="toggleActions()">{{title}}</span>
        <span class="flags">
            <span class="flag play-next" ng-if="playNext"></span>
            <span class="flag stop-here" ng-if="stopHere"></span>
            <span class="flag repeat" ng-if="repeatTrack"></span>
        </span>
        <span class="remover" ng-click="removeItem()"></span>
        <span class="mover"></span>
    </div>
    <menu type="toolbar" class="actions-bar bar">
        <li class="action" ng-click="fnPlayNext()" ng-class="{'active': playNext}">
            <span class="text">Play Next</span>
        </li>
        <li class="action" ng-click="fnStopHere()" ng-class="{'active': stopHere}">
            <span class="text">Stop Here</span>
        </li>
        <li class="action" ng-click="fnRepeatTrack()" ng-class="{'active': repeatTrack}">
            <span class="text">Repeat</span>
        </li>
    </menu>
</li>
