<section class="playlist-pane" ng-class="{ 'active': !!items.length && ready }"
    ng-style="{'background-image': 'url(' + backgroundImg + ')'}"
    data-background="{{!!backgroundImg}}"
    sol-vibrate="currentlyDragging">
    <app-topbar id="topbar"></app-topbar>
    <playlist-progress data-progress="progress" duration="{{duration}}"></playlist-progress>
    <header class="playlist-actions">
        <span class="action clear" ng-click="clearPlaylist()">
            <span class="text">Clear Playlist</span>
        </span>

        <span class="action save" ng-click="publishPlaylist()">
            <span class="text">Save As New</span>
        </span>

        <span class="action shuffle" ng-click="toggleShuffle()" ng-class="{active: shuffled}">
            <span class="text" ng-show="!shuffled">Shuffle</span>
            <span class="text" ng-show="shuffled">Shuffle is ON</span>
        </span>
    </header>
    <section class="playlist-statusline">
        <span class="playlist-title" ng-show="metadata">{{metadata.name || '-'}}</span>

        <sol-input placeholder="Search in playlist..."
            value="query" icon="search" class="playlist-search"></sol-input>

        <span class="playlist-save fa fa-upload"
            ng-show="metadata && (metadata.uid === authData.uid)"
            ng-click="uploadPlaylist()">SAVE</span>
    </section>
    <section class="playlist-wrapper" ng-class="{empty: items.length === 0}">
        <ul class="indices">
            <li class="index" ng-repeat="item in items track by $index"
                ng-attr-visible="{{itemMatch(item, query)}}"
                ng-class="{'active': getItemProgress($index), 'actions-open': $index === getCurrentlyOpenIdx()}">
                {{$index + 1}}
            </li>
        </ul>
        <ul class="playlist" ui-sortable="sortableOpts"
                    ui-sortable-on-change="onSortChange" ng-model="items">
            <playlist-item
                ng-repeat="item in items track by $index"
                class="playlist-item"
                ng-attr-visible="{{itemMatch(item, query)}}"
                sol-slide-rm="items"
                sol-slide-rm-handle=".title"
                sol-slide-rm-after="savePlaylist(); $emit('closeTrackActions')"
                data-index="{{$index}}"
                data-title="{{item.snippet.title}}"
                play-next="{{item.playNext || ''}}"
                stop-here="{{item.stopHere || ''}}"
                repeat="{{item.repeatTrack || ''}}"
                active="{{isItemActive($index)}}"
                progress="{{getItemProgress($index)}}"
                data-duration="{{item.contentDetails.duration}}"
                actions-open="item.actionsOpen"
                >
            </playlist-item>
        </ul>
    </section>

    <section class="fabs-row">
        <sol-popmenu
                class="peer-pane-toggler" icon="rss">
            <peer-pane></peer-pane>
        </sol-popmenu>

        <sol-popmenu
                class="user-playlists-toggler" icon="list">
            <user-playlists></user-playlists>
        </sol-popmenu>
    </section>
</section>
