<section class="playlist-pane" ng-class="{ 'active': !!items.length && ready }"
    sol-vibrate="currentlyDragging">
    <playlist-progress data-progress="progress" duration="{{duration}}"></playlist-progress>
    <header class="playlist-actions">
        <span class="action clear" ng-click="clearPlaylist()">
            <span class="text">Clear Playlist</span>
        </span>

        <span class="action save" ng-click="publishPlaylist()">
            <span class="text">Save As New</span>
        </span>

        <sol-input placeholder="Search in playlist..."
            value="query" icon="search"></sol-input>
    </header>
    <section class="playlist-wrapper">
        <ul class="indices">
            <li class="index" ng-repeat="item in items track by $index"
                ng-attr-visible="{{itemMatch(item, query)}}"
                ng-class="{'active': getItemProgress($index), 'actions-open': $index === getCurrentlyOpenIdx()}">
                {{$index + 1}}
            </li>
        </ul>
        <ul class="playlist" ui-sortable="sortableOpts"
                    ui-sortable-on-change="onSortChange" ng-model="items">
            <playlist-item
                ng-repeat="item in items track by $index"
                class="playlist-item"
                ng-attr-visible="{{itemMatch(item, query)}}"
                sol-slide-rm="items"
                sol-slide-rm-handle=".title"
                sol-slide-rm-after="savePlaylist(); $emit('closeTrackActions')"
                data-index="{{$index}}"
                data-title="{{item.snippet.title}}"
                play-next="{{item.playNext || ''}}"
                stop-here="{{item.stopHere || ''}}"
                repeat="{{item.repeatTrack || ''}}"
                active="{{isItemActive($index)}}"
                progress="{{getItemProgress($index)}}"
                data-duration="{{item.contentDetails.duration}}"
                actions-open="item.actionsOpen"
                >
            </playlist-item>
        </ul>
    </section>
   
    <section class="user-playlists-popup" ng-show="userPlaylistsOpen">
        <user-playlists></user-playlists>
    </section>

    <div class="user-playlists-toggler"
        ng-show="authData"
        ng-class="{ active: userPlaylistsOpen }"
        ng-click="userPlaylistsOpen = !userPlaylistsOpen"></div>
</section>
