<div class="peer-pane">
    <!--<div class="peer-pane-buttons" ng-show="!showConnectPanel && !showHostPanel">-->

    <!--</div>-->
    <div class="popup-title">
        <span class="title">Remote Control</span>
        <span class="tag experimental-tag"></span>
    </div>

    <p class="warning-text"><span>This is highly experimental technology - some features might
        not work, the app might crash, etc. Give it a try.</span></p>

    <div class="peer-pane-section host-section"
            ng-class="{ active: showHostPanel }">
            <div class="button-row">
                <div class="raised-button button-host" ng-show="!showHostPanel"
                    ng-click="toggleHost()">Allow Remote Control</div>
                <div class="raised-button button-host" ng-show="showHostPanel"
                    ng-click="toggleHost()">Disable Remote Control</div>
            </div>

        <div class="peer-pane-host section-content">
            <div class="peer-host-id">
                <span>{{peerId}}</span>
            </div>

            <p>
            <span>To connect to this host, open the Solarizd app on your mobile
                device, and insert the above Host ID in the "Connect to a Host"
                field. This will allow you to control the playlist from any
                device.</span>
            </p>
        </div>
    </div>

    <div class="peer-pane-section connect-section active">
        <div class="peer-pane-connect section-content">
            <div class="peer-host-input {{connectStatus}}">
                <input ng-model="remotePeer" />
            </div>

            <div class="button-row">
                <div class="raised-button"
                     ng-class="{disabled: !isValidId()}"
                     ng-click="isValidId() ? connectToHost() : null"
                    ng-show="!isConnected">Connect to a Host</div>

                <div class="raised-button"
                    ng-click="disconnectFromHost()"
                    ng-show="isConnected">Disconnect</div>
            </div>
        </div>
    </div>
</div>
