@import "../../vars/all";

.mixin-footer () {
    .flexbox(@justify:space-between; @align:center);
    @bg:@theme-background-dark;
    @title:@base00;
    background:@bg;
    height:@row;
    padding:@row-pad @column-pad;
    box-sizing:content-box;
    border-top:solid @thin-border fadeout(@base02, 50%);

    .title {
        font-size:@huge-text;
        padding:@row-pad 0;
        .flexed(1);
        flex-shrink:0;
        .flexbox(@align:center; @justify:flex-start);

        .app-logo {
            .flexed(0);
            width:@row;
            height:@row;
            margin-right:@column-pad;
            flex-shrink:1;
        }

        .text {
            font-style:italic;
            font-family:'Open-Sans Light';
            font-size:(@large-text * 2);
            color:@white;
            /*text-shadow:@thin-border @thin-border @medium-border @black;*/
            text-transform:capitalize;
            .flexed(1);

            &:after {
                content:'beta';
                text-transform:lowercase;
                vertical-align:super;
                font-size:.5em;
                font-style:normal;
                padding-left:@column-pad;
            }
        }
    }

    .logo {
        height:100%;
        padding:@row-pad @column-pad;
        .flexed(0);
        flex-shrink:1;
        .flexbox(@dir:column; @align:center);

        img {
            max-height:100%;
            max-width:100%;
        }
    }

    .fork-me {
        padding:@row-pad 0;
        color:#fff;
        .flexed(0);
        .flexbox(@dir:column; @align:center; @justify:flex-start);

        &:before {
            padding:0 @column-pad;
            font-size:(@huge-text * 1.5);
            .icon(@fa-var-github);
        }

        .text {
            font-weight:bold;
            font-size:@medium-text;
        }
    }
}

