<li class="playlist-item">
    <div class="bar">
        <span class="mover"></span>
        <span class="toggler"></span>
        <span class="title">{{title}}</span>
        <span class="flags">
            <span class="flag play-next" ng-if="playNext"></span>
            <span class="flag stop-here" ng-if="stopHere"></span>
            <span class="flag repeat" ng-if="repeat"></span>
        </span>
        <span class="time">
            <span class="elapsed" ng-if="getNowPlaying()">
                {{progress | formatTime}}
            </span>
            <span class="separator" ng-if="getNowPlaying()">/</span>
            <span class="duration">{{duration || '' | youtubeTime}}</span>
        </span>
        <span class="remover"></span>
    </div>
<!--<li ng-class="{'now-playing': nowPlaying, 'active': isActive, 'loading':
                isBuffering, 'actions-open': displayActions}">

    <div class="bar">
        <span class="mover"></span>
        <span class="toggler" ng-click="togglePlay()" sol-vibrate></span>
        <span class="title" data-index="{{index}}" ng-click="toggleActions()">{{title}}</span>
        <span class="flags">
            <span class="flag play-next" ng-if="playNext"></span>
            <span class="flag stop-here" ng-if="stopHere"></span>
            <span class="flag repeat" ng-if="repeatTrack"></span>
        </span>
        <span class="time">
            <span class="elapsed" ng-if="nowPlaying">
                {{progress | formatTime}}
            </span>
            <span ng-if="nowPlaying" class="separator">/</span>
            <span class="duration">{{duration | youtubeTime}}</span>
        </span>
        <span class="remover" ng-click="removeItem()" sol-vibrate></span>
    </div>
    <menu type="toolbar" class="actions-bar bar">
        <li class="action" ng-click="fnPlayNext()" sol-vibrate
            ng-class="{'active': playNext}">
            <span class="text">Play Next</span>
        </li>
        <li class="action" ng-click="fnStopHere()" sol-vibrate
            ng-class="{'active': stopHere}">
            <span class="text">Stop Here</span>
        </li>
        <li class="action" ng-click="fnRepeatTrack()" sol-vibrate
            ng-class="{'active': repeatTrack}">
            <span class="text">Repeat</span>
        </li>
    </menu>
</li>-->
</li>
