@import "../../vars/all";
@import "../kit/search-input";
@import "list";

.mixin-search-pane () {
    .flexbox(@dir:column; @justify:flex-start);
    background:@theme-app-background;
    color:@active-text-dark;

    @media (max-width:960px), (max-device-width:960px) {
        box-shadow:none;
    }

    &.searching {
        & > .result-list { display:none !important; }

        &:before {
            position:absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            font-size:@row;
            width: 1em;
            height: 1em;
            text-align:center;
            color:@inactive-text-dark;
            text-shadow:0px 0px @huge-text #fff;
            .spinner;
            .icon(@fa-var-spinner);
        }
    }

    .sol-input-wrapper {
        .flexed(0);
        .flexbox(@justify:stretch);
        height:@row;
        padding:@row-pad @column-pad;
        border-bottom:solid @thin-border @inactive-text-dark;

        &> .sol-input {
            .flexed(1);
        }
    }

    .result-list {
        .mixin-search-list;
        .flexed(1);
    }
}
